html {
  font-size: calc(10px + 2vmin);
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: baseline;
  border: solid 1px black;
  width: 100vw;
}

.App-header > div, img {
  margin: 0.3rem 1rem
}

.Github-logo {
  height: 1rem;
}

.title {
  margin: 1rem 0;
}

.Test-start-link {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border: solid 1px black;
  border-radius: 0.5rem;
  color: black;
}

.Test-main-img {
  border: solid 1px black;
  max-height: 80vh;
  max-width: 80vw;
  min-width: 10rem;
}
